* {
    font-size: larger;
    text-align: center;
}

.container {
    background-color: #588157;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}

.q {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
    border-radius: 5px;
}

.q:hover{
    scale: 1.1;
    transition: 1s;
}
.q:not(:hover){
    scale: 1;
    transition: 1s;
}
