* {
    font-size: larger;
    text-align: center;
}

.container {
    background-color: #588157;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}

.q {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
    border-radius: 5px;
}

.q:hover{
    scale: 1.1;
    transition: 1s;
}
.q:not(:hover){
    scale: 1;
    transition: 1s;
}
.q:active{
    transition: 0.5s;
    animation: transform 1s forwards ;
}

.seta{
    rotate: -90deg;
    font-size: larger;
    padding: 10px;
    animation: seta 1s ease-in-out alternate infinite;
}
@keyframes seta {
    0%{
        transform: translatey(0px);
    }
    100%{
        transform: translatey(50px);
    }
}

@keyframes transform {
    to {
        border-radius: 100px;
    }
}