*{
    font-size: larger;
    text-align: center;
}
.container {
    background-color: #588157;
    width:500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
border-radius: 20px;
padding: 0px  20px  0px  20px;
}

.q1 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q2 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q3 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q4 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q5 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q6 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q7 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q8 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}

.q9 {
    background-color: #A3B18A;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}